{% extends "base.html" %}
{% load static %}
{% block title %}Custom 404{% endblock %}
{% block header %}
<nav class="navbar navbar-light" style="background-color: lightskyblue">
    <div class="container">
        <a class="navbar-brand" href="{% url 'posts:index' %}">
            <img src="{% static 'img/logo.png' %}"
                 width="30" height="30" class="d-inline-block align-top"
                 alt="">
            <span style="color:red">Ya</span>tube</a>
    </div>
</nav>
{% endblock %}
{% block content %}
  <h1>Custom 404</h1>
  <p>Страницы с адресом {{ path }} не существует</p>
  <a href="{% url 'posts:index' %}">Идите на главную</a>
{% endblock %}